{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow mt-5">
                <div class="card-body">
                    {% if app.user %}
                        <div class="alert alert-info mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, 
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-4 text-center">Вход</h1>
                    
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">Имя пользователя</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" 
                                   class="form-control" autocomplete="username" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Пароль</label>
                            <input type="password" name="password" id="inputPassword" 
                                   class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="_remember_me" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Запомнить</label>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">
                                Войти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}